body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background:  linear-gradient(89deg, rgb(255, 198, 133) 0%, rgb(44, 165, 135) 100%);
}

button {
  cursor: pointer;
}
